@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(107, 114, 128, 0.7);
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(55, 65, 81, 0.9);
}
